#whatsappModal .modal-body .qrcode {
    display: block;
    margin: auto;
    width: 256px;
    height: 256px;
}

#whatsappModal .modal-body .contact-link,
#whatsappModal .modal-body .contact-link a {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#whatsappModal .modal-body .contact-link {
    border: 1px solid #dee2e6;
    border-radius: .50rem;
}

#whatsappModal .modal-body .contact-link a {
    display: inline-block;
    max-width: 350px;
}

#whatsappModal #configForm .checkbox {
    height: 16px;
    width: auto;
}

#whatsappModal .tab-pane {
    min-height: 400px;
    padding: 25px;
}

#whatsappModal .nav-link:focus {
    box-shadow: none;
}
