<div class="modal fade" id="whatsappModal" tabindex="-1" role="dialog" aria-labelledby="whatsappModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="whatsappModalLabel">{{#str}} whatsapp, local_whatsapp {{/str}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column align-items-center justify-content-center justify-content-md-start">
                {{#hasTabs}}
                    <ul class="nav nav-tabs">
                        {{#contacts}}
                            <li class="nav-item"><a class="nav-link {{#active}}active{{/active}}" data-toggle="tab" href="#tab-{{type}}-{{id}}">{{fullname}}</a></li>
                        {{/contacts}}
                        {{#canManage}}
                            <li class="nav-item"><a class="nav-link {{^contacts}}active{{/contacts}}" data-toggle="tab" href="#tab-config">{{#str}} config, local_whatsapp {{/str}}</a></li>
                        {{/canManage}}
                    </ul>
                {{/hasTabs}}
                <div class="tab-content">
                    {{#contacts}}
                        <div id="tab-{{type}}-{{id}}" class="tab-pane fade in {{#active}}active{{/active}}">
                            {{^hasTabs}}
                                <h5 class="mb-5">{{fullname}}</h5>
                            {{/hasTabs}}
                            <div id="qrcode-{{type}}-{{id}}" class="qrcode mb-3"></div>
                            <br>
                            <div class="contact-link d-flex flex-row align-items-center justify-content-between p-2 mb-3">
                                <a href="{{whatsapp_link}}"
                                    target="_blank"
                                    class="mr-2 pl-3 pr-3">
                                    {{whatsapp_link}}
                                </a>
                                <button id="copy-contact-{{type}}-{{id}}-button"
                                    class="btn btn-info"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="{{#str}} copy_clipboard, local_whatsapp {{/str}}"
                                >
                                    {{#str}} copy_link, local_whatsapp {{/str}}
                                </button>
                            </div>
                        </div>
                    {{/contacts}}
                    {{#canManage}}
                        <div id="tab-config" class="tab-pane fade in pt-6 {{^contacts}}active{{/contacts}}">
                            <form id="configForm" action="/local/whatsapp/config.php" method="POST" class="align-items-center justify-content-between w-100">
                                <div id="configDetails" class="align-items-center justify-content-between p-2">
                                    <input type="hidden" name="courseid" id="courseid" value="{{courseID}}">
                                    {{#user}}
                                        <h6>
                                            {{#str}} whatsapp_number, local_whatsapp {{/str}}
                                            {{#whatsappNumberHelp}} {{> core/help_icon }} {{/whatsappNumberHelp}}
                                        </h6>
                                        <p> {{#str}} whatsapp_number_scope, local_whatsapp {{/str}} </p>
                                        <input type="text" class="form-control mb-3 " name="whatsapp_number" id="whatsapp_number" value="{{user.whatsapp}}" size="30" maxlength="2048" data-initial-value="{{user.whatsapp}}">
                                        <input type="checkbox" name="share_number" class="form-control checkbox mb-3 d-inline-block" id="share_number" {{#user.whatsapp_enable}}checked{{/user.whatsapp_enable}} data-initial-value="{{user.whatsapp_enable}}">
                                        <span>{{#str}} share_number, local_whatsapp {{/str}}</span>
                                    {{/user}}
                                    {{^user}}
                                        <p>{{#str}} adminuser, local_whatsapp {{/str}}</p>
                                    {{/user}}
                                        <h6>
                                            {{#str}} group_link, local_whatsapp {{/str}}
                                            {{#groupLinkHelp}} {{> core/help_icon }} {{/groupLinkHelp}}
                                        </h6>
                                        <p> {{#str}} group_link_scope, local_whatsapp {{/str}} </p>
                                    <input type="text" class="form-control mb-3" name="group_link" id="group_link" value="{{groupLink.whatsapp_link}}" size="30" maxlength="2048" data-initial-value="{{groupLink.whatsapp_link}}">
                                </div>
                                <button class="btn btn-primary float-right" id="saveConfig" type="submit">{{#str}} save_config, local_whatsapp {{/str}}</button>
                            </form>
                        </div>
                    {{/canManage}}
                </div>
            </div>
        </div>
    </div>
</div>
